<div>
    <h2>Soy una plantilla de home</h2>
    {{#each productos}}
        <div >
            <p>title: {{title}} - descripcion: {{description}} - price:{{price}} - thumbnail:{{thumbnail}} - code:{{code}} - stock:{{stock}} </p>
        </div>
    {{/each}}
</div>


